.DocumentationCreateFormCard {
    border: 1px none #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 150px;
    padding: 20px;
    text-align: left;
}

.Button {
    border: solid black 1px;
    background-color: #e35e8a;
}

.InvalidButton {
    background-color: #ffffff;
}