.Test {
    border: solid black 1px;
}

a {
    text-decoration: none;
}

.NavBar {
    border: 1px solid black;
    background-color: #ffffff;
}

.NavLink {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000000;
    color: black;
    border-radius: 3px;
    height: 40px;
    width: 140px;
    text-align: center;
}

.Active {
    color: #e35e8a;
    border: 2px solid #e35e8a;
}

.Logo {
    margin: 5px;
    color: black;
    font-size: 50px;
    border-radius: 3px;
    max-height: 70px;
}