/* dev class */
.Testborder {
    border: solid black 1px;
}

.WindowCard {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid black 1px;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
}

.PosterFrame {
    border: solid black 1px;
    border-radius: 5px;
}

.DescriptionFrame {
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid black 1px;
    border-radius: 5px;
}

.Link {
    color: #e35e8a;
}

.Link:hover {
    color: #e35e8a;
    text-decoration: underline;
}

.Button {
    border: solid black 1px;
    background-color: #e35e8a;
}

.Button:hover {
    border: solid black 1px;
    background-color: #dc175c;
}

.WatchButton, .UnwatchButton:hover {
    border: solid black 1px;
    color: black;
    background-color: #ffffff;
}

.WatchButton:hover, .UnwatchButton {
    border: solid black 1px;
    color: #ffffff;
    background-color: #e35e8a;
}