.ProjectPageCard {
    border: 1px solid #000000;
    border-radius: 10px;
    margin-top: 150px;
    padding: 20px;
    background-color: #ffffff;
}

.Link {
    color: #e35e8a;
}

.Link:hover {
    color: #e35e8a;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .ProjectPageCard {
        border-radius: 5px;
        padding: 0px;
    }
}