.Test{
    border: solid black 1px;
    text-align: center;
}

h1{
    margin-left: 50px;
}

.SignUpCard{
    border: solid black 1px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 600px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.FormGroup{
    margin-left: 50px;
}

.FormControl{
    width: 400px;
}

.Button {
    margin-top: 20px;
    border: solid black 1px;
    background-color: #e35e8a;
}

.Button:hover {
    border: solid black 1px;
    background-color: #dc175c;
}

@media only screen and (max-width: 600px) {
    .FormControl{
        width: 100%
    };
    .SignInCard{
        margin-left: 0px;
    }
};